@import "bulma/css/bulma.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";

#modal {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    word-break: break-word;
    border-radius: 6px;
    background: #bad5ff;
}
