<div class="container">
  <div class="columns">
    <div class="column is-3 ">
      <aside class="menu is-hidden-mobile">
        <p class="menu-label">
          Notebokes
        </p>
        <ul class="menu-list">
          <li><a>(( Notebooks ))</a></li>
          <li><a class="is-active">美食筆記本</a>
            <ul>
              <li><a>(( Note Categories ))</a></li>
              <li><a>台灣小吃</a></li>
              <li><a>日本料理</a></li>
              <li><a>泰式料理</a></li>
            </ul>
          </li>
          <li><a>後端技術記本</a></li>
        </ul>
        <p class="menu-label">
          Tags
        </p>
        <ul class="menu-list">
          <li><a>(( Tags Categories ))</a></li>
          <li>
            <a>地區</a>
            <ul>
              <li><a>台北市</a></li>
              <li><a>新北市</a></li>
              <li><a>台東市</a></li>
              <li><a>(( Tags ))</a></li>
            </ul>
          </li>
          <li><a>料理風格</a></li>
        </ul>
      </aside>
    </div>
